.env
uploads/
scripts/clearHeroContents.js
scripts/createAdmin.js 
scripts/createSampleStats.js
scripts/createInitialHero.js
scripts/createUpcomingEvents.js
scripts/createVideoContent.js
scripts/updateBrandLogo.js
scripts/seedTestimonials.js
generateSecret.js
sample-testimonials.json